{{ $side_style := "even:flex-row-reverse" }}
{{ if eq .side "left" }}
  {{ $side_style = "" }}
{{ else if eq .side "right" }}
  {{ $side_style = "flex-row-reverse" }}
{{ end }}

<div class="mt-8 first:mt-0 row {{ $side_style }} items-center justify-between">
  <div class="mb:md-0 md:col-5 mb-6 max-md:flex max-md:justify-center">
    {{ partial "media/image" (dict "Src" .image "Alt" "feature image" "Class" "!w-full max-md:!max-w-96" "Context" .Context) }}
  </div>
  <div class="md:col-7 lg:col-6">
    <h1 class="mb-4">
      {{ .title }}
    </h1>
    <div class="mb-8 text-lg content">
      {{ .content | markdownify }}
    </div>
    <ul>
      {{ range .bulletpoints }}
        <li class="relative mb-4 pl-6">
          <i class="fa fa-check absolute left-0 top-1.5"></i>
          {{ . | markdownify }}
        </li>
      {{ end }}
    </ul>
    {{ with .button }}
      {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | relLangURL }}">
          {{ .label }}
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>