{{ $scope := .scope }}
{{ $domain := .domain }}
{{ $value := .value }}
{{ $class := .class }}

{{ if not $domain }}
  {{ errorf "%s: $domain not provided" $scope }}
  {{ return }}
{{ end }}

{{ partial "components/indicator/levels/utils/validate-domain" (dict "scope" $scope "domain" $domain) }}
{{ $value := partial "components/indicator/levels/utils/validate-value" (dict "scope" $scope "domain" $domain "value" $value) }}

{{ $max_value := math.MaxInt64 }}
{{ $min_value := math.MaxInt64 }}
{{ if isset $domain "max" }}
  {{ $max_value = int $domain.max }}
{{ end }}
{{ if isset $domain "min" }}
  {{ $min_value = int $domain.min }}
{{ end }}

<span class="shrink-0 align-middle {{ $class }}">
  {{ if ne $max_value math.MaxInt64 }}
    {{ range $i := (seq $min_value $max_value) }}
      {{ if le $i $value }}
        <!-- Full food icons -->
        <span class="h-[1em] {{ $domain.filled_class }}"></span>
      {{ else }}
        {{ $fracDiff := sub $value (sub (float $i) 1) }}
        {{ if gt $fracDiff 0 }}
          <!-- Half-full food icon -->
          {{ $fracDiffPercent := mul $fracDiff 100 }}
          <span class="inline-flex align-middle">
            <span class="h-[1em] {{ $domain.filled_class }} !bg-cover overflow-hidden !bg-left" style="width:calc({{ $fracDiff }} * 1em);"></span>
            <span class="h-[1em] {{ $domain.empty_class }} !bg-cover overflow-hidden !bg-right" style="width:calc({{ sub 1 $fracDiff }} * 1em);"></span>
          </span>
        {{ else }}
          <!-- Empty food icon -->
          <span class="h-[1em] {{ $domain.empty_class }}"></span>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range $i := (seq $min_value (math.Floor $value)) }}
      <!-- Full food icons -->
      <span class="h-[1em] {{ $domain.filled_class }}"></span>
    {{ end }}
  
    {{ if $domain.accept_floats }}
      {{ $frac := sub $value (math.Floor $value) }}
  
      {{ if ne $frac 0.0 }}
        <span class="h-[1em] {{ $domain.filled_class }} !bg-cover overflow-hidden !bg-left" style="width:calc({{ $frac }} * 1em);"></span>
      {{ end }}
    {{ end }}
  {{ end }}
</span>
