<div class="section-sm overflow-x-clip">
  <div class="container h-full">
    <div class="relative z-0 px-6 -mx-64 flex flex-col h-full overflow-x-clip">
      <div class="hidden sm:block absolute top-0 -my-10 -left-0 w-64 z-10 bg-gradient-to-r from-white to-transparent h-full pointer-events-none"></div>
      <div class="hidden sm:block absolute top-0 -my-10 -right-0 w-64 z-10 bg-gradient-to-r from-transparent to-white h-full pointer-events-none"></div>
  
      <h2 class="font-tertiary font-extrabold md:col-10 lg:col-8 xl:col-6 mx-auto mb-10 text-center">
        {{ .Title | markdownify }}
      </h2>

      <div class="relative w-full px-64 swiper testimonial-slider flex flex-col grow overflow-visible">
        <div class="swiper-wrapper shrink">
          {{ range .Posts }}
            <div class="relative swiper-slide z-0 hover:z-10">
              {{ partial "components/blog/card" . }}
            </div>
          {{ end }}
        </div>
      </div>
      <div
        class="testimonial-slider-pagination flex mt-6 items-center justify-center text-center shrink-0 grow-0"
      ></div>
    </div>
  </div>
</div>
