<div class="flex flex-row items-center gap-2 border-t border-r p-2 rounded-tr-lg shadow-md bg-gray-100 {{ .class }}">
  <i class="fa-solid fa-cart-shopping"></i>

  {{ $scope := .scope }}
  {{ range .books }}
    {{ $page := site.GetPage . }}

    {{ if not (isset $page.Params "cover") }}
      {{ errorf "%s: %s doesn't have a cover field that specify where the cover image is" $scope $page }}
      {{ continue }}
    {{ end }}
    
    <div class="border h-8">
      {{ partial "media/image" (dict 
        "Src" $page.Params.cover 
        "Alt" "book icon" 
        "Size" "x64" 
        "Context" $page 
        "Class" "!h-full !w-auto"
      ) }}
    </div>
  {{ end }}
</div>