<div class="container">
  <div class="row justify-center">
    <div class="flex sm:col-10 md:col-8 lg:col-6 items-center flex-col text-center">
      <div class="h-36 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-50 h-full w-auto lucide lucide-rotate-ccw-clock preview-icon"><path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M12 7v5l4 2"/></svg>
      </div>
      
      <h1 class="h2 mb-4">
        L'historique des évenements est vide !
      </h1>
      <div class="content">
        <p>
          Reviens plus tard, le temps que cette page se remplisse.
        </p>
      </div>
    </div>
  </div>
</div>