<div class="container">
  <div class="row justify-center">
    <div class="flex sm:col-10 md:col-8 lg:col-6 items-center flex-col text-center">
      <div class="h-36 mb-4">
        {{ partial "media/svg-inline" (dict "src" "images/icons/lucide/rotate-ccw-clock.svg" "class" "opacity-50 h-full w-auto") }}
      </div>
      
      <h1 class="h2 mb-4">
        L'historique des évenements est vide !
      </h1>
      <div class="content">
        <p>
          Reviens plus tard, le temps que cette page se remplisse.
        </p>
      </div>
    </div>
  </div>
</div>