# Hugo build/generated output
public/
resources/

# Dependencies
node_modules/

# Lockfiles
package-lock.json
bun.lock

# libraries we use
assets/libs/

# base theme
themes/

# disable for roadmap because we need it formatted in a certain way
ROADMAP.md