{{ $path := .path }}
{{ $scope := .scope }}

{{ $data := slice }}

{{ with .scope.Site.GetPage $path }}
  {{ $places := .Pages }}
  {{ range $i, $place := $places }}
    {{ $originalPlace := $place.Params }}
    {{ $placeWithUrl := dict "url" ($place.RelPermalink | relURL ) }}

    <!-- Replace images path by absolute ones -->
    {{ $imageNames := slice "thumbnail" "banner" "image" }}
    {{ range $name := $imageNames }}
      {{ $variable := $place.Param $name }}

      {{ if $variable }}
        {{ $image := partial "utils/get-img" (dict "img" $variable "context" $place) }}
        <!-- Make sure the images are included in the build -->
        {{ with $image }}
          {{ .Publish }}
        {{ end }}
        
        {{ $originalPlace = merge $originalPlace (dict $name $image.RelPermalink) }}
      {{ end }}
    {{ end }}
    
    <!-- Do the same thing for the tops image, if any -->
    {{ $tops := $place.Param "tops" }}
    {{ if $tops }}
      {{ $processedTops := slice }}
      {{ range $top := $tops }}
        {{ $image := partial "utils/get-img" (dict "img" $top.photo "context" $place) }}
        <!-- Make sure the images are included in the build -->
        {{ with $image }}
          {{ .Publish }}
        {{ end }}

        {{ $top = merge $top (dict "photo" $image.RelPermalink) }}
        {{ $processedTops = $processedTops | append $top }}
      {{ end }}
      {{ $originalPlace = merge $originalPlace (dict "tops" $processedTops) }}
    {{ end }}
    

    <!-- Traverse Galery and extract all the images paths in it, except for the thumbnail -->
    {{ $gallery := $place.Param "gallery" }}
    {{ if isset $place.Params "gallery" }}
      {{ $imagePath := slice }}
      {{ range $place.Resources.Match (printf "%s*" $gallery) }}
        {{ $imagePath = $imagePath | append (.Permalink) }}
      {{ end }}
      {{ $originalPlace = merge $originalPlace (dict "gallery" $imagePath) }}
    {{ end }}

    <!-- Capitalize types and tags -->
    {{ $imageNames := slice "types" "tags" }}
    {{ range $name := $imageNames }}
      {{ $variable := $place.Param $name }}
      {{ if $variable }}
        {{ $capitalized := slice }}
        {{ range $element := $variable }}
          {{ $capitalized = $capitalized | append ($element | strings.FirstUpper) }}
        {{ end }}
        {{ $originalPlace = merge $originalPlace (dict $name ($capitalized)) }}
      {{ end }}
    {{ end }}

    <!-- Parse schedule -->
    {{ $schedule := $place.Param "schedule" }}
    {{ if $schedule }}
      {{ $parsedScheduleSlice := partial "utils/crieur/parse-schedules.html" (dict "schedule" $schedule) }}
      {{ $originalPlace = merge $originalPlace (dict "schedule" $parsedScheduleSlice) }}
    {{ end }}
    {{ $place = merge $originalPlace $placeWithUrl }}

    <!-- Assign an id to the place -->
    {{ $place = merge $place (dict "id" $i) }}

    <!-- Assign an str id to be used in url processing -->
    {{ $str_id := print $i "-" .File.BaseFileName }}
    {{ $place = merge $place (dict "str_id" $str_id) }}
    
    {{ $data = $data | append $place }}
  {{ end }}

  {{ return $data }}
{{ end }}