{{ with .Site.GetPage "crieur/deco" }}
  {{ range $i, $place := .Pages }}
    {{ if not (eq $place.File.BaseFileName "_index") }}
      {{ with $place.Params }}
        {{ if not .title }}
          {{ errorf "%s:%s" $place "Missing title" }}
        {{ end }}

        {{ partial "utils/validate-location" (dict "location" .location "place" $place "require_address" false) }}
        
        {{ if not .color }}
          {{ errorf "%s:%s" $place "Missing color" }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}