{{ with .Site.GetPage "crieur/places" }}
  {{ range $i, $place := .Pages }}
    {{ if not (eq $place.File.BaseFileName "_index") }}
      {{ with $place.Params }}
        {{ if not .title }}
          {{ errorf "%s:%s" $place "Missing title" }}
        {{ end }}

        {{ partial "utils/validate-location" (dict "location" .location "place" $place) }}
        
        {{ if not .schedule }}
          {{ errorf "%s:%s" $place "Missing schedule" }}
        {{ else }}
          {{ if ne (.schedule | len) 7 }}
            {{ errorf "%s:%s" $place "Location schedule length is not 7" }}
          {{ else }}
            {{ range $i, $openHours := .schedule }}
              {{ range $timeSpan := $openHours.openHours }}
                {{ if not (index $timeSpan "start") }}
                  {{ errorf "%s:%s" $place "Missing openingHours.start" }}
                {{ end }}
                {{ if not (index $timeSpan "end") }}
                  {{ errorf "%s:%s" $place "Missing openingHours.end" }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if not .thumbnail }}
          {{ warnf "%s:%s" $place "Missing thumbnail" }}
        {{ else }}
          {{ if hasPrefix .thumbnail "/" }}
            {{ warnf "%s:%s" $place "Thumbnail path starts with a /" }}
          {{ end }}
        {{ end }}

        {{ if .links }}
          {{ $supportedIcons := slice "instagram" "twitter" "facebook" "tiktok" "tripadvisor" "site" }}
          {{ range $i, $link := .links }}
            {{ if not $link.social }}
              {{ errorf "%s:%s [%s]" $place "Missing links.social" $i }}
            {{ else }}
              {{ if not (in $supportedIcons $link.social) }}
                {{ warnf "%s:Icon '%s' is not marked as supported. Please make sure it's properly handled." $place $link.social }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}