{{ if not (isset .Params "default-value") }}
  {{ errorf "%s: $default-value isn't provided" .Position }}
{{ end }}
{{ $value := int (.Get "default-value") }}
{{ if le $value 0 }}
  {{ errorf "%s: $value should be above 0, found %s" .Position $value }}
{{ end }}

{{ $id := .Get "id" | default "r" }}
{{ $min := int (.Get "min" | default 1) }}
{{ $max := .Get "max" }}

{{ if le $min 0 }}
  {{ errorf "%s: $min should be above 0, found %s" .Position $min }}
{{ end }}
{{ if (isset .Params "max") }}
  {{ if (lt $max $min) }}
    {{ errorf "%s: $max (%s) is below $min (%s)" .Position $max $min }}
  {{ end }}
{{ end }}

{{ $valueConfigIdent := print $id "Config" }}

{{ if not (.Page.Store.Get $valueConfigIdent) }}
  {{ $registeredVSystemsIds := .Page.Store.Get "vSystems" | append $id }}
  {{ .Page.Store.Set "vSystems" $registeredVSystemsIds }}
{{ end }}

{{ .Page.Store.SetInMap $valueConfigIdent "numberOfValues" 0 }}
{{ .Page.Store.SetInMap $valueConfigIdent "idPrefix" $id }}
{{ .Page.Store.SetInMap $valueConfigIdent "min" $min }}
{{ .Page.Store.SetInMap $valueConfigIdent "baseValue" $value }}

{{ if $max }}
  {{ .Page.Store.SetInMap $valueConfigIdent "max" $max }}
{{ end }}
