{{ $info := .info }}
{{ $id := .id }}

{{ with $info }}
  <div 
    class="max-h-28 w-full flex shrink-0 flex-row overflow-hidden first:border-0 border-t hover:bg-gray-100 cursor-pointer unselectable"
    onclick="showPlace({{ $id }}, 'fromCard')"
  >
    <!-- Image -->
    <div class="w-28 overflow-hidden p-3 shrink-0">
      {{ partial "image" (dict "Src" .Params.thumbnail "Alt" .Title "Class" "h-full aspect-square object-cover rounded-md" "Loading" "lazy") }}
    </div>

    <!-- Metadata -->
    <div class="py-3">
      <h5> {{ .Params.Title }} </h5>

      <!-- Type -->
      <div>
        <span>
          {{ range $i, $type :=  .Params.types }}
            {{ if $i }}
              ,
            {{ end }}
            
            {{ $type | humanize }}
          {{ end }}
        </span>

        <span>‧</span>

        <!-- Price -->
        <span>
          {{ .Params.price }}
        </span>

        <span>‧</span>
        
        {{ partial "components/crieur/address-indicator" (dict "address" .Params.location.address "variant" "short") }}
        
        <span>‧</span>

        {{ partial "components/crieur/status-indicator" (dict "schedule" .Params.location.schedule "id" $id ) }}
      </div>
    </div>
  </div>
{{ end }}