{{ $schedule := .schedule }}
{{ $id := .id }}

<script defer async>
  document.addEventListener('DOMContentLoaded', function() {
    const SPAN_ID = "crieur-status-{{ $id }}"

    /* Basically what happens with that partials is the following :
    A schedule is a sequence of yaml entries with the name of the day and the time spans where
    the entry is open (called "openingHours" there.).
    That partial converts that into a javascript array of the following form :
      [ 
        //entry
        [
          // time spans
          [
            [
              hour_int,
              minute_int
            ],
            ...
          ],
          ...
        ],
        ...
      ]
    */
    const SCHEDULE_ARRAY = {{ partial "utils/crieur/parse-schedules.html" (dict "schedule" $schedule) | jsonify | safeJS }};

    applyStatus(SPAN_ID, SCHEDULE_ARRAY)
  })
</script>

<span id="crieur-status-{{ $id }}"></span>

