{{ $scope := .scope }}
{{ $timeMin := .timeMin }}
{{ $class := .class }}

<div class = "{{ $class }}">
  <i class="fa-regular fa-clock"></i>

  {{ if not $timeMin }}
    {{ warnf "%s: $timeMin is not defined" $scope }}
    undefined
  {{ else }}
    {{ $duration := time.ParseDuration (print $timeMin "m") }}
    {{ $hour := int $duration.Hours }}
    {{ if gt $hour 0 }}
      {{ int $hour  }}
      h
    {{ end }}

    {{ $minutes := mod (int $duration.Minutes) 60 }}
    {{ if gt $minutes 0 }}
      {{ $minutes }}
      m
    {{ else }}
      {{ if eq $hour 0 }}
        0m
      {{ end }}
    {{ end }}
  {{ end }}
</div>