<!-- JS Plugins + Main script -->
{{ $scripts := slice }}
{{ range site.Params.plugins.js }}
  {{ if findRE "^http" .link }}
    {{ $scripts = $scripts | append (resources.GetRemote .link) }}
  {{ else }}
    {{ $scripts = $scripts | append (resources.Get .link) }}
  {{ end }}
{{ end }}

<!-- Load core plugins (minified) -->
{{ with $scripts | resources.Concat "js/plugins-concat.js" | resources.Minify | fingerprint }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}

<!-- main script - minified with esbuild -->
{{ with resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
  <script
    crossorigin="anonymous"
    integrity="{{ .Data.Integrity }}"
    src="{{ .RelPermalink }}"
    defer
  ></script>
{{ end }}
