<div class="section-pb-sm overflow-x-clip">
  <div class="container h-full max-mid-md:w-full max-mid-md:h-[30rem]">
    <div class="relative z-0 -mx-64 flex flex-col h-full overflow-x-clip">
      <div class="hidden sm:block absolute top-0 -left-0 w-64 z-10 bg-gradient-to-r from-white to-transparent h-full pointer-events-none"></div>
      <div class="hidden sm:block absolute top-0 -right-0 w-64 z-10 bg-gradient-to-r from-transparent to-white h-full pointer-events-none"></div>

      <div class="relative w-full px-64 swiper gallery-slider flex flex-col grow overflow-visible">
        <div class="swiper-wrapper shrink lg:grid lg:grid-cols-2 lg:gap-4">
          {{ $context := .context }}
          {{ range .img }}
            <div class="relative swiper-slide z-0 hover:z-10">
              <div class="rounded-lg h-full overflow-hidden shadow-md">
                {{ partial "media/image" (dict
                  "Src" .Name
                  "Alt" "book image presentation"
                  "Context" $context
                  "Class" "!h-full !w-full object-cover"
                ) }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <div
        class="gallery-slider-pagination mt-6 text-center shrink-0 grow-0 lg:hidden"
      ></div>
    </div>
  </div>
</div>
