{{ define "main" }}
  {{ with site.GetPage "association" }}
    <!-- Banner -->
    {{ with .Params.banner }}
      <section class="section pt-14">
        <div class="container px-6">
          <div class="row items-center justify-between content">
            <div class="mb:md-0 md:col-5 mb-6">
              {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
            </div>
            <div class="md:col-7 lg:col-6">
              <h2 class="mb-4">
                {{ .title | markdownify }}
              </h2>
              <p class="mb-8 text-lg">
                {{ .content | markdownify }}
              </p>
              <ul>
                {{ range .bulletpoints }}
                  <li class="relative mb-4 pl-6">
                    <i class="fa fa-check absolute left-0 top-1.5"></i>
                    {{ . | markdownify }}
                  </li>
                {{ end }}
              </ul>
              {{ with .button }}
                {{ if .enable }}
                  <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
    <!-- /Banner -->

    <!-- Poles -->
    {{ range $i, $e:= .Params.poles }}
      <div
        class="section-sm {{ if (modBool $i 2) }}
          bg-primary text-light
        {{ end }} pt-0"
      >
        <!-- Separator -->
        {{ if (modBool $i 2) }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 100 1440 150">
            <path
              class="{{ if (modBool $i 2) }}
                fill-light dark:fill-secondary
              {{ else }}
                fill-primary
              {{ end }}"
              fill-opacity="1"
              d="M0,192L80,181.3C160,171,320,149,480,154.7C640,160,800,192,960,197.3C1120,203,1280,181,1360,170.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
            ></path>
          </svg>
        {{ else }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 70 1440 180">
            <path
              class="{{ if (modBool $i 2) }}
                fill-light dark:fill-secondary
              {{ else }}
                fill-primary
              {{ end }}"
              fill-opacity="1"
              d="M0,96L80,106.7C160,117,320,139,480,133.3C640,128,800,96,960,106.7C1120,117,1280,171,1360,197.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
            ></path>
          </svg>
        {{ end }}


        <div class="container col-12 px-6 text-center">
          <h1
            class="font-extrabold font-tertiary {{ if (modBool $i 2) }}
              text-light
            {{ end }} "
          >
            {{ .name }}
          </h1>
          <p>{{ .description }}</p>

          <!-- Members -->
          {{ $theme := .theme }}
          {{ $chief_members := where .members "type" "eq" "chief" }}
          {{ $other_members := where .members "type" "ne" "chief" }}

          {{ if eq $theme "comity" }}
            <div class="row justify-center m-0 p-0 pt-4">
              {{ range $chief_members }}
                <div class="col-12 md:col-6 lg:col-3 my-2">
                  <div
                    class="member-card {{ if (modBool $i 2) }}
                      bg-body
                    {{ else }}
                      bg-secondary dark:bg-body
                    {{ end }}"
                  >
                    {{ if .image }}
                      {{ partial "image" (dict "Src" .image "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ else }}
                      {{ partial "image" (dict "Src" "images/unknown.png" "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ end }}

                    <div class="card-body">
                      <h4
                        class="font-secondary {{ if (modBool $i 2) }}
                          text-dark dark:text-dark
                        {{ else }}
                          text-light dark:text-dark
                        {{ end }}"
                      >
                        <span class="inline-block align-middle h-8">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chef-hat-icon lucide-chef-hat"><path d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"/><path d="M6 17h12"/></svg>
                        </span>
                        
                        {{ .name }}
                      </h4>
                      <h5
                        class="font-tertiary {{ if (modBool $i 2) }}
                          text-dark dark:text-dark
                        {{ else }}
                          text-light dark:text-dark
                        {{ end }}"
                      >
                        {{ .role }}
                      </h5>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>

            <div class="w-full flex justify-center">
              <div class="w-4/5 h-px bg-white/50 my-4"></div>
            </div>
            
            <div class="row justify-center m-0 p-0 border-white">
              {{ range $other_members }}
                <div class="col-12 md:col-6 lg:col-3 my-2">
                  <div
                    class="member-card {{ if (modBool $i 2) }}
                      bg-body
                    {{ else }}
                      bg-secondary dark:bg-body
                    {{ end }}"
                  >
                    {{ if .image }}
                      {{ partial "image" (dict "Src" .image "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ else }}
                      {{ partial "image" (dict "Src" "images/unknown.png" "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ end }}

                    <div class="card-body">
                      <h4
                        class="font-secondary {{ if (modBool $i 2) }}
                          text-dark dark:text-dark
                        {{ else }}
                          text-light dark:text-dark
                        {{ end }}"
                      >
                        {{ .name }}
                      </h4>
                      <h5
                        class="font-tertiary {{ if (modBool $i 2) }}
                          text-dark dark:text-dark
                        {{ else }}
                          text-light dark:text-dark
                        {{ end }}"
                      >
                        {{ .role }}
                      </h5>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          {{ else }}
            <div class="row justify-center m-0 p-0 pt-4">
              {{ range $chief_members }}
                <div class="col-12 md:col-6 lg:col-3 my-2">
                  <div
                    class="member-card {{ if (modBool $i 2) }}
                      bg-body
                    {{ else }}
                      bg-secondary dark:bg-body
                    {{ end }}"
                  >
                    {{ if .image }}
                      {{ partial "image" (dict "Src" .image "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ else }}
                      {{ partial "image" (dict "Src" "images/unknown.png" "Alt" .Title "Class" "rounded img-fluid" "size" "120x120") }}
                    {{ end }}
                    <div class="card-body">
                      <h4
                        class="font-secondary {{ if (modBool $i 2) }}
                          text-dark dark:text-dark
                        {{ else }}
                          text-light dark:text-dark
                        {{ end }}"
                      >
                        {{ .name }}
                      </h4>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
            <div class="row justify-center m-0 p-0 pt-4">
              {{ range $other_members }}
                <div class="p-4 w-fit">
                  <div class="card-body">
                    <h4
                      class="font-secondary flex items-center leading-none {{ if (modBool $i 2) }}
                        text-light dark:text-dark
                      {{ else }}
                        text-dark dark:text-dark
                      {{ end }}"
                    >
                      {{ .name }}
                    </h4>
                  </div>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <!-- /Poles -->
  {{ end }}
{{ end }}
