<div class="relative p-2 bg-gray-50 border rounded-md z-10 shadow-md md:float-end md:w-80 not-prose">
  <div class="mb-2">
    <div class="float-right flex flex-row items-center">
      <div class="h-8 aspect-square text-lg mr-2 -m-1 p-1 hover:bg-black/10 rounded-sm">
        <button type="button" class="h-full aspect-square text-lg rounded-sm flex items-center justify-center" onclick="resetVSystems(this)" aria-label="Reset settings">
          <i class="fa-solid fa-arrow-rotate-left"></i>
        </button>
      </div>
      
      <a href="{{ "blog/2026/08/recette-v2/" | relLangURL }}" class="w-fit aspect-square -m-1 p-1 hover:bg-black/10 rounded-sm" aria-label="Link to documentation">
        {{ partial "media/svg-inline" (dict "src" "images/icons/lucide/info.svg") }}
      </a>
    </div>
    
    <h5 class="inline-block my-0 w-fit"> 
      <i class="fa-solid fa-gear"></i> 
      {{ i18n "v/settings_container_title" }}
    </h5>
    
    <span class="inline-block ml-2 -my-0.5 py-0.5 px-2 bg-primary leading-none h-fit -rotate-6 text-white font-secondary">BETA</span>
  </div>
  
  {{ .Inner }}
</div>