{{ $step := .Get "step" | default "1" }}

<div class="relative h4 z-10 font-secondary text-blue-900 flex flex-wrap">
  <div class="inline-block relative mr-2 shrink-0">
    <div class="relative flex h-[1lh] aspect-square items-center justify-center border-4 rounded-full mr-2 border-blue-900 bg-white mx-4 z-10"> {{ $step }} </div>
    <div class="h-px absolute left-0 top-1/2 -translate-y-1/2 w-full border-2 z-0 border-blue-900"></div>
  </div>

  <!-- Note : we're splitting the text into many spans to emulate text wrap in flex box -->
  {{ $segments := split (strings.Trim .Inner " ") " " }}
  {{ range $i, $s := $segments }}
    {{ if eq $i 0 }}
      <span class="shrink-0"> {{ $s }} </span>
    {{ else }}
      <span class="shrink-0"> &nbsp;{{ $s }} </span>
    {{ end }}
  {{ end }}

  <div class="inline-block relative h-[1lh] grow flex-nowrap overflow-hidden">
    <div class="ml-2 h-px absolute left-0 top-1/2 -translate-y-1/2 w-full border-2 z-0 border-blue-900"></div>
  </div>
</div>
