{{ $scope := .scope }}
{{ $timeInMin := int .timeInMin }}
{{ $maxTimeInMin := int (.maxTimeInMin | default -1) }}

{{ $result := "" }}

{{ if not $timeInMin }}
  {{ errorf "%s: timeInMin wasn't provided" $scope }}
{{ else }}
  {{ $capped := and (ge $maxTimeInMin 0) (gt $timeInMin $maxTimeInMin) }}
  {{ $total := cond $capped $maxTimeInMin $timeInMin }}

  {{ $h := div $total 60 }}
  {{ $m := mod $total 60 }}

  {{ $parts := slice }}
  {{ if gt $h 0 }}{{ $parts = $parts | append (printf "%dh" $h) }}{{ end }}
  {{ if gt $m 0 }}{{ $parts = $parts | append (printf "%dm" $m) }}{{ end }}

  {{ $result = delimit $parts " " }}
  {{ if $capped }}{{ $result = print "> " $result }}{{ end }}
{{ end }}

{{ return $result }}