{{ $context := .context }}
{{ $startRaw := .start }}
{{ $endRaw := .end }}

{{ if not $startRaw }}
  {{ errorf "%s: missing required front matter param 'start'" $context }}
{{ end }}
{{ if not $endRaw }}
  {{ errorf "%s: missing required front matter param 'end'" $context }}
{{ end }}

{{ $start := time $startRaw }}
{{ $end := time $endRaw }}

{{ $sameMonth := eq ($start.Format "2006-01") ($end.Format "2006-01") }}
{{ $sameDay := eq ($start.Format "2006-01-02") ($end.Format "2006-01-02") }}

{{ $text := "" }}
{{ if $sameDay }}
  {{ $text = time.Format "Jan 2" $start | title }}
{{ else if $sameMonth }}
  {{ $text = printf "%s – %s" (time.Format "Jan 2" $start | title) (time.Format "2" $end | title) }}
{{ else }}
  {{ $text = printf "%s – %s" (time.Format "Jan 2" $start | title) (time.Format "Jan 2" $end | title) }}
{{ end }}

{{ return $text }}