{{ $scope := .scope }}
{{ $domain := .domain }}
{{ if not $domain }}
  {{ errorf "%s: $domain not provided" $scope }}
{{ end }}

{{ $VALID_WORDS := slice }}
{{ range $key, $_ := $domain }}
  {{ $VALID_WORDS = $VALID_WORDS | append $key }}
{{ end }}

{{ $badges := .badges }}
{{ if not $badges }}
  {{ errorf "%s: $badges not provided" $scope }}
{{ else }}
  {{ $invalid_words := slice }}
  {{ range $i := $badges }}
    {{ if not (in $VALID_WORDS $i) }}
      {{ $invalid_words = $invalid_words | append $i }}
    {{ end }}
  {{ end }}

  {{ if ne (len $invalid_words) 0 }}
    {{ errorf "%s: invalid badges words found : %s. The valid words should be one in " $scope $invalid_words $VALID_WORDS }}
  {{ end }}
{{ end }}

  