{{ define "main" }}
  <section class="relative section-sm !pt-0 overflow-x-clip">
    {{ $build_date := partial "utils/get-build-date" }}

    <!-- Select pages which are up to two years ahead -->
    {{ $data := .Site.GetPage "/events/data" }}
    {{ $years := slice }}
    {{ $pages := dict }}
    {{ range $page := .Site.RegularPages }}
      {{ with $page.Params.start }}
        {{ $year := (time .).Year }}
        {{ if and (ge $year $build_date.Year) (lt $year (add $build_date.Year 2)) }}
          {{ $key := string $year }}
          {{ $existing := index $pages $key }}
          {{ if $existing }}
            {{ $pages = merge $pages (dict $key ($existing | append $page)) }}
          {{ else }}
            {{ $pages = merge $pages (dict $key (slice $page)) }}
          {{ end }}

          {{ $years = $years | append $key }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $years = $years | uniq }}
    
    {{ if ne (len $pages) 0 }}
      <div class="w-full md:container flex justify-end mb-4 md:my-4">
        <a 
          class="max-md:m-4 bg-white rounded-full border text-xl flex items-center text-dark dark:text-white lg:order-1 w-fit p-3 shadow-md hover:scale-110" 
          href="{{ "events/past-events" | relURL }}"
          aria-label="Return"
        > 
          <i class="fa-solid fa-clock-rotate-left"></i>
        </a>
      </div>
    
      <div class="relative container text-center section-pb-sm z-20">
        <h1>{{ .Title | humanize }}</h1>
      </div>

      <div class="md:container flex flex-col md:gap-5">
        {{ range $year := sort $years "" }}
          <!-- Div for the sticky year separator -->
          <div class="flex flex-col">
            {{ partial "components/events/year-separator" $year }}

            <!-- Container so that first entry can have :first css selector -->
            <div class="flex flex-col md:gap-5">
              {{ range sort (index $pages $year) "Params.start" }}
                {{ partial "components/events/card" . }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ else }}
      <div class="w-full container flex justify-end mb-4 md:my-4">
        <a 
          class="max-md:m-4 bg-white rounded-full border text-xl flex items-center text-dark dark:text-white lg:order-1 w-fit p-3 shadow-md hover:scale-110" 
          href="{{ "events/past-events" | relURL }}"
          aria-label="Return"
        > 
          <i class="fa-solid fa-clock-rotate-left"></i>
        </a>
      </div>
    
      {{ partial "components/events/no-events" }}
    {{ end }}
  </section>
{{ end }}