.btn-primary {
  @apply 
    inline-block 
    py-2 px-4 rounded-full 
    text-white font-semibold 
    shadow-inner shadow-white/50 
    bg-gradient-to-b from-red-300 via-30% via-red-500 to-red-600 
    hover:scale-105 hover:from-red-300 hover:via-red-400 hover:to-red-600 
    border border-red-500/50
    duration-150 transition-all;
}

.copy-btn .clicked-svg {
  display: none;
}

.copy-btn.clicked .clicked-svg {
  display: block;
}
.copy-btn.clicked .default-svg {
  display: none;
}
