@layer utilities {
  .underline-translate {
    background: 
      linear-gradient(to right, var(--underline-color), var(--underline-color)),
      linear-gradient(to right, var(--underline-hover-color), var(--underline-hover-color));
    background-size: 100% var(--underline-h), 0 var(--underline-h);
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition-property: background-size;
  
    &-active {
      background-size: 0 var(--underline-h), 100% var(--underline-h);
    }
  }
}