{{ $veganLevel := .veganLevel }}
{{ $scope := .scope }}

{{ if not $veganLevel }}
  {{ errorf "%s: `veganLevel` is not provided" $scope }}
  {{ return }}
{{ else }}
  {{ $LEGAL_WORDS := slice "vegan" "vegetarian" }}
  {{ if not (in $LEGAL_WORDS $veganLevel) }}
    {{ errorf "%s: `%s` is not a vegan level, expects `vegan` or `vegetarian`" $scope $veganLevel }}
  {{ end }}

  {{ if eq $veganLevel "vegetarian" }}
    <div class="shrink-0 [&:not(:first-child)]:border-l [&:not(:first-child)]:ml-2 [&:not(:first-child)]:pl-2">
      <i class="fa-solid fa-leaf text-green-400"></i>
      <i class="fa-solid fa-leaf text-black/30"></i>
    </div>
  {{ end }}
  {{ if eq $veganLevel "vegan" }}
    <div class="shrink-0 [&:not(:first-child)]:border-l [&:not(:first-child)]:ml-2 [&:not(:first-child)]:pl-2">
      <i class="fa-solid fa-leaf text-green-400"></i>
      <i class="fa-solid fa-leaf text-green-400"></i>
    </div>
  {{ end }}
{{ end }}
