<div 
  class="
    relative
    border
    flex flex-col 
    h-full
    bg-body
    shadow-md hover:shadow-2xl
    hover:scale-[103%]
    z-0 hover:z-10
    rounded-xl overflow-hidden 
    cursor-pointer
    duration-100
  "
  onclick="window.location.href='{{ .RelPermalink }}'"
>
  {{ $image:= .Params.image }}
  <div class="shrink overflow-hidden">
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "aspect-square object-cover") }}
  </div>
  
  <div class="flex flex-col p-4 border-t shrink-0 grow">
    <div class="flex flex-row justify-between flex-wrap">
      <!-- 
        Metadata containers
        We need it because we have some css rules which activates when we're not the first 
        child of a container
      -->

      <div>
        {{ partial "components/blog/time-indicator" (dict "timeMin" .Params.durationMin "class" "opacity-50" "scope" . ) }}
      </div>

      <div>
        {{ partial "components/recipe/indicators/number-people-indicator" (dict "quantity" .Params.quantity "class" "opacity-75" "scope" .) }}
      </div>
    </div>

    <!-- TODO : make it expand into the card, so the description can be only shown when hovered -->
    <div class="my-2 flex flex-col grow">
      <h4> {{ .Title }} </h4>
    </div>

    <div class="flex flex-row flex-wrap justify-between items-center text-lg">
      <div class="flex flex-row flex-wrap">
        {{ partial "components/recipe/indicators/intolerances-indicator" (dict "scope" . "intolerances" .Params.intolerances) }}

        {{ if .Params.spicinessLevel }}
          {{ partial "components/recipe/indicators/spiciness-indicator" (dict "scope" . "spiciness" .Params.spicinessLevel) }}
        {{ end }}
      </div>
      <div class="flex flex-row flex-wrap">
        {{ partial "components/recipe/indicators/copiosity-indicator" (dict "scope" . "copiosity" .Params.copiosityLevel) }}
      </div>
    </div>

    <div class="my-2">
      {{ partial "components/blog/tag-list" ( dict "scope" . "group" "order" "icon" "custom-icon icon-dishes" "notFlaticon" "true" ) }}
      {{ partial "components/blog/tag-list" ( dict "scope" . "group" "tags" "icon" "fa-tag" ) }}
    </div>
  </div>
</div>
